.main-clinica {
  display: flex;
  gap: 64px;
  align-items: center;
  padding: 64px 80px;
}
.clinica-title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 35.2px;
  color: #263238;
}
.clinica-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #263238;
}
.clinica-item {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #263238;
}

@media screen and (max-width: 900px) {
  .main-clinica {
    flex-direction: column;
    padding: 64px 24px;
  }
  ul{
    padding: 0 0 0 24px;
  }
  .main-clinica img{
    width: 100%;
    height: fit-content;
  }
}