.main-farmacia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 80px;
}
.farmacia-title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 35.2px;
  color: #263238;
}
.farmacia-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #263238;
  max-width: 950px;
  margin: 0 auto;
}

@media screen and (max-width: 768px){
  .main-farmacia {
    padding: 64px 24px;
  }
  .main-farmacia img{
    width: 100%;
    height: fit-content;
  }
}

