.main-header {
  background: #c2452d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    width: 520px;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: none;
  align-items: center;
  justify-content: center;
}

.menu-icon span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: 0.3s;
}

/* Transformação para 'X' quando o botão tem a classe 'open' */
.menu-toggle.open .menu-icon span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open .menu-icon span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}


.main-nav-mobile{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 0;
}
.main-nav .links, .main-nav-mobile .links{
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
}

@media screen and (max-width: 900px) {
  .main-header {
    padding: 0 20px;
  }
  .main-nav {
    display: none;
  }
  .main-nav-mobile{
    display: none;
    background: #c2452d;
    opacity: 0.9;
    gap: 20px;
  }
  .main-nav-mobile.open{
    display: flex;
  }
  .menu-toggle{
    display: flex;
  }  
}
