.main-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 80px;
  position: relative;
}
.wrapper-inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 60px;
}
.main-inicio-texts > .inicio-title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 35.2px;
  color: #263238;
}
.main-inicio-texts > .inicio-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #263238;
}
.wrapper-inicio-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}
.main-button.-text-pink {
  color: #ff725e;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  margin-left: 80px;
}
.main-button.-pink {
  background: #ff725e;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-decoration: none;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
}
.waves {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -100;
  bottom: 0;
  left: 0;
  right: 0;
}
.wrapper-inicio img {
  position: relative;
  z-index: 2;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .main-inicio {
    padding: 64px 24px;
  }
  .main-inicio img {
    width: 100%;
    height: fit-content;
  }
  .wrapper-inicio {
    flex-direction: column;
    padding: 0;
  }
  .wrapper-inicio-buttons {
    justify-content: space-between;
  }
  
  
}
@media screen and (max-width: 490px) {
  .wrapper-inicio-buttons {
    flex-direction: column;
    gap: 32px;
    display: flex;
    margin: 0 auto;
  }
  .main-button.-text-pink {
    margin: 0;
  }
  .main-inicio-texts > .inicio-text {
    margin-bottom: 50px;
  }
  .waves {
    display: none;
  }
}
